body{
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: center;
    font-family: poppins;
}
.box{
    width: 450px;
    height: 400px;
    margin: 50px auto 0;
    background: (0,0,0,0.6);
    text-align: center;
    padding: 30px;
    border: 2px solid #0a3fc4;
    border-radius: 45px 0 45px 0;
}
.box h2{
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 15px 0 15px 0;
    border: 2px solid #454549;
    background: transparent;
    color: white;
}
.box p{
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.btn{
    display: block;
    height: 40px;
    line-height: 30px;
    text-align: center;
    background: rgba(188, 18, 109, 0.619);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 7px;
    font-weight: bold;
}
.pass{
    text-decoration: none;
    display: block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
